In [1]:
import os
os.chdir('/home/nmduy/CA683/Credit Project')
#from fancyimpute import IterativeImputer as MICE
import pandas as pd
import numpy as np

In [2]:
Data_Folder = 'encoded_data/'

app_train = pd.read_csv(Data_Folder+'encoded_train.csv')

In [3]:
# MICE IMPUTATION ENTIRE DATASET

In [ ]:
app_train_remove_target = app_train.drop(app_train.columns[-1], axis=1) # remove target
app_train_remove_target = app_train_remove_target.drop(app_train_remove_target.columns[0], axis=1) # remove SKID

In [ ]:
app_train_remove_target.head()

In [ ]:
imputed_app_train = MICE().fit_transform(app_train_remove_target)

In [ ]:
imputed_pd = pd.DataFrame(data=imputed_app_train)
imputed_pd.columns = list(app_train_remove_target.columns)
imputed_pd['TARGET'] = list(app_train['TARGET'])
imputed_pd['SK_ID_CURR'] = list(app_train['SK_ID_CURR'])
imputed_pd.to_csv('imputed_train.csv', index=False)

In [4]:
# EXTRACT FULL-INFO ROW SAMPLES

In [8]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, 2, 1],
                [np.nan, np.nan, np.nan, 5]],
                columns=list('ABCD'))
df

     A    B    C  D
0  NaN  2.0  NaN  0
1  3.0  4.0  2.0  1
2  NaN  NaN  NaN  5

In [9]:
df_dropna = df.dropna(axis=0, how='any')
df_dropna

     A    B    C  D
1  3.0  4.0  2.0  1

In [10]:
app_train_dropna = app_train.dropna(axis=0, how='any')
print(f"Before drop: {len(app_train)} rows\nAfter drop: {len(app_train_dropna)} rows")

Before drop: 307511 rows
After drop: 201084 rows

In [11]:
app_train_dropna.to_csv('encoded_train_dropna.csv', index=False)

# READ DATA

In [4]:
import os
os.chdir('/home/nmduy/CA683/Credit Project')
import pandas as pd
import numpy as np

In [15]:
app_train = pd.read_csv('data/merged_application_train.csv')
app_test = pd.read_csv('data/merged_application_test.csv')

In [6]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,previous_NAME_CONTRACT_TYPE_Consumer loans_count,previous_NAME_CONTRACT_TYPE_Consumer loans_count_norm,previous_NAME_CONTRACT_TYPE_Revolving loans_count,previous_NAME_CONTRACT_TYPE_Revolving loans_count_norm,previous_NAME_CONTRACT_TYPE_XNA_count,previous_NAME_CONTRACT_TYPE_XNA_count_norm,DIF_AMT_CREDIT_mean,DIF_AMT_CREDIT_min,DIF_AMT_CREDIT_max,DIF_AMT_CREDIT_sum
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,1.0,1.000000,0.0,0.000000,0.0,0.0,0.00,0.0,0.0,0.00
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,2.0,0.666667,0.0,0.000000,0.0,0.0,48754.50,-756.0,135882.0,146263.50
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,1.0,1.000000,0.0,0.000000,0.0,0.0,-4176.00,-4176.0,-4176.0,-4176.00
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,2.0,0.222222,2.0,0.222222,0.0,0.0,19492.24,-66987.0,218115.0,175430.16
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,2.0,0.333333,0.0,0.000000,0.0,0.0,16108.50,-2560.5,59400.0,96651.00

In [8]:
app_train = app_train.drop(['SK_ID_CURR', 'TARGET'], axis = 1)

In [9]:
ft_types = dict(app_train.dtypes)

In [10]:
ft_types

{'SK_ID_CURR': dtype('int64'),
 'TARGET': dtype('int64'),
 'NAME_CONTRACT_TYPE': dtype('O'),
 'CODE_GENDER': dtype('O'),
 'FLAG_OWN_CAR': dtype('O'),
 'FLAG_OWN_REALTY': dtype('O'),
 'CNT_CHILDREN': dtype('int64'),
 'AMT_INCOME_TOTAL': dtype('float64'),
 'AMT_CREDIT': dtype('float64'),
 'AMT_ANNUITY': dtype('float64'),
 'AMT_GOODS_PRICE': dtype('float64'),
 'NAME_TYPE_SUITE': dtype('O'),
 'NAME_INCOME_TYPE': dtype('O'),
 'NAME_EDUCATION_TYPE': dtype('O'),
 'NAME_FAMILY_STATUS': dtype('O'),
 'NAME_HOUSING_TYPE': dtype('O'),
 'REGION_POPULATION_RELATIVE': dtype('float64'),
 'DAYS_BIRTH': dtype('int64'),
 'DAYS_EMPLOYED': dtype('int64'),
 'DAYS_REGISTRATION': dtype('float64'),
 'DAYS_ID_PUBLISH': dtype('int64'),
 'OWN_CAR_AGE': dtype('float64'),
 'FLAG_MOBIL': dtype('int64'),
 'FLAG_EMP_PHONE': dtype('int64'),
 'FLAG_WORK_PHONE': dtype('int64'),
 'FLAG_CONT_MOBILE': dtype('int64'),
 'FLAG_PHONE': dtype('int64'),
 'FLAG_EMAIL': dtype('int64'),
 'OCCUPATION_TYPE': dtype('O'),
 'CNT_FAM_MEMBERS': dtype('float64'),
 'REGION_RATING_CLIENT': dtype('int64'),
 'REGION_RATING_CLIENT_W_CITY': dtype('int64'),
 'WEEKDAY_APPR_PROCESS_START': dtype('O'),
 'HOUR_APPR_PROCESS_START': dtype('int64'),
 'REG_REGION_NOT_LIVE_REGION': dtype('int64'),
 'REG_REGION_NOT_WORK_REGION': dtype('int64'),
 'LIVE_REGION_NOT_WORK_REGION': dtype('int64'),
 'REG_CITY_NOT_LIVE_CITY': dtype('int64'),
 'REG_CITY_NOT_WORK_CITY': dtype('int64'),
 'LIVE_CITY_NOT_WORK_CITY': dtype('int64'),
 'ORGANIZATION_TYPE': dtype('O'),
 'EXT_SOURCE_1': dtype('float64'),
 'EXT_SOURCE_2': dtype('float64'),
 'EXT_SOURCE_3': dtype('float64'),
 'APARTMENTS_AVG': dtype('float64'),
 'BASEMENTAREA_AVG': dtype('float64'),
 'YEARS_BEGINEXPLUATATION_AVG': dtype('float64'),
 'YEARS_BUILD_AVG': dtype('float64'),
 'COMMONAREA_AVG': dtype('float64'),
 'ELEVATORS_AVG': dtype('float64'),
 'ENTRANCES_AVG': dtype('float64'),
 'FLOORSMAX_AVG': dtype('float64'),
 'FLOORSMIN_AVG': dtype('float64'),
 'LANDAREA_AVG': dtype('float64'),
 'LIVINGAPARTMENTS_AVG': dtype('float64'),
 'LIVINGAREA_AVG': dtype('float64'),
 'NONLIVINGAPARTMENTS_AVG': dtype('float64'),
 'NONLIVINGAREA_AVG': dtype('float64'),
 'APARTMENTS_MODE': dtype('float64'),
 'BASEMENTAREA_MODE': dtype('float64'),
 'YEARS_BEGINEXPLUATATION_MODE': dtype('float64'),
 'YEARS_BUILD_MODE': dtype('float64'),
 'COMMONAREA_MODE': dtype('float64'),
 'ELEVATORS_MODE': dtype('float64'),
 'ENTRANCES_MODE': dtype('float64'),
 'FLOORSMAX_MODE': dtype('float64'),
 'FLOORSMIN_MODE': dtype('float64'),
 'LANDAREA_MODE': dtype('float64'),
 'LIVINGAPARTMENTS_MODE': dtype('float64'),
 'LIVINGAREA_MODE': dtype('float64'),
 'NONLIVINGAPARTMENTS_MODE': dtype('float64'),
 'NONLIVINGAREA_MODE': dtype('float64'),
 'APARTMENTS_MEDI': dtype('float64'),
 'BASEMENTAREA_MEDI': dtype('float64'),
 'YEARS_BEGINEXPLUATATION_MEDI': dtype('float64'),
 'YEARS_BUILD_MEDI': dtype('float64'),
 'COMMONAREA_MEDI': dtype('float64'),
 'ELEVATORS_MEDI': dtype('float64'),
 'ENTRANCES_MEDI': dtype('float64'),
 'FLOORSMAX_MEDI': dtype('float64'),
 'FLOORSMIN_MEDI': dtype('float64'),
 'LANDAREA_MEDI': dtype('float64'),
 'LIVINGAPARTMENTS_MEDI': dtype('float64'),
 'LIVINGAREA_MEDI': dtype('float64'),
 'NONLIVINGAPARTMENTS_MEDI': dtype('float64'),
 'NONLIVINGAREA_MEDI': dtype('float64'),
 'FONDKAPREMONT_MODE': dtype('O'),
 'HOUSETYPE_MODE': dtype('O'),
 'TOTALAREA_MODE': dtype('float64'),
 'WALLSMATERIAL_MODE': dtype('O'),
 'EMERGENCYSTATE_MODE': dtype('O'),
 'OBS_30_CNT_SOCIAL_CIRCLE': dtype('float64'),
 'DEF_30_CNT_SOCIAL_CIRCLE': dtype('float64'),
 'OBS_60_CNT_SOCIAL_CIRCLE': dtype('float64'),
 'DEF_60_CNT_SOCIAL_CIRCLE': dtype('float64'),
 'DAYS_LAST_PHONE_CHANGE': dtype('float64'),
 'FLAG_DOCUMENT_2': dtype('int64'),
 'FLAG_DOCUMENT_3': dtype('int64'),
 'FLAG_DOCUMENT_4': dtype('int64'),
 'FLAG_DOCUMENT_5': dtype('int64'),
 'FLAG_DOCUMENT_6': dtype('int64'),
 'FLAG_DOCUMENT_7': dtype('int64'),
 'FLAG_DOCUMENT_8': dtype('int64'),
 'FLAG_DOCUMENT_9': dtype('int64'),
 'FLAG_DOCUMENT_10': dtype('int64'),
 'FLAG_DOCUMENT_11': dtype('int64'),
 'FLAG_DOCUMENT_12': dtype('int64'),
 'FLAG_DOCUMENT_13': dtype('int64'),
 'FLAG_DOCUMENT_14': dtype('int64'),
 'FLAG_DOCUMENT_15': dtype('int64'),
 'FLAG_DOCUMENT_16': dtype('int64'),
 'FLAG_DOCUMENT_17': dtype('int64'),
 'FLAG_DOCUMENT_18': dtype('int64'),
 'FLAG_DOCUMENT_19': dtype('int64'),
 'FLAG_DOCUMENT_20': dtype('int64'),
 'FLAG_DOCUMENT_21': dtype('int64'),
 'AMT_REQ_CREDIT_BUREAU_HOUR': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_DAY': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_WEEK': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_MON': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_QRT': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_YEAR': dtype('float64'),
 'DIF_DAYS_INSTALMENT_mean': dtype('float64'),
 'DIF_DAYS_INSTALMENT_min': dtype('float64'),
 'DIF_DAYS_INSTALMENT_max': dtype('float64'),
 'DIF_DAYS_INSTALMENT_sum': dtype('float64'),
 'PORTION_NOT_INSTALMENT': dtype('float64'),
 'AVG_DIF_AMT_PAYMENT': dtype('float64'),
 'previous_NAME_CONTRACT_STATUS_Approved_count': dtype('float64'),
 'previous_NAME_CONTRACT_STATUS_Approved_count_norm': dtype('float64'),
 'previous_NAME_CONTRACT_STATUS_Canceled_count': dtype('float64'),
 'previous_NAME_CONTRACT_STATUS_Canceled_count_norm': dtype('float64'),
 'previous_NAME_CONTRACT_STATUS_Refused_count': dtype('float64'),
 'previous_NAME_CONTRACT_STATUS_Refused_count_norm': dtype('float64'),
 'previous_NAME_CONTRACT_STATUS_Unused offer_count': dtype('float64'),
 'previous_NAME_CONTRACT_STATUS_Unused offer_count_norm': dtype('float64'),
 'previous_NAME_CONTRACT_TYPE_Cash loans_count': dtype('float64'),
 'previous_NAME_CONTRACT_TYPE_Cash loans_count_norm': dtype('float64'),
 'previous_NAME_CONTRACT_TYPE_Consumer loans_count': dtype('float64'),
 'previous_NAME_CONTRACT_TYPE_Consumer loans_count_norm': dtype('float64'),
 'previous_NAME_CONTRACT_TYPE_Revolving loans_count': dtype('float64'),
 'previous_NAME_CONTRACT_TYPE_Revolving loans_count_norm': dtype('float64'),
 'previous_NAME_CONTRACT_TYPE_XNA_count': dtype('float64'),
 'previous_NAME_CONTRACT_TYPE_XNA_count_norm': dtype('float64'),
 'DIF_AMT_CREDIT_mean': dtype('float64'),
 'DIF_AMT_CREDIT_min': dtype('float64'),
 'DIF_AMT_CREDIT_max': dtype('float64'),
 'DIF_AMT_CREDIT_sum': dtype('float64')}

In [11]:
categorical_ft = []
numerical_ft = []
for ft, val in ft_types.items():
    if val == np.object:
        categorical_ft += [ft]
    else:
        numerical_ft += [ft]

In [12]:
len(categorical_ft)

16

In [13]:
len(numerical_ft)

132

In [14]:
app_train.shape

(307511, 148)

In [11]:
########### LIBRARY ############
def count_missing_row(df):
    return df.isnull().any(axis=1).sum()

def count_missing_cell(df):
    return np.count_nonzero(df.isnull().values.ravel())

def basic_info(df):
    info = {}
    info['numb_sample'] = df.shape[0]
    info['numb_ft'] = df.shape[1]
    info['numb_row_missing'] = count_missing_row(df)
    info['port_row_missing'] = round(info['numb_row_missing'] / info['numb_sample'], 4)
    info['numb_cell_missing'] = count_missing_cell(df)
    info['port_cell_missing'] = round(info['numb_cell_missing'] / (info['numb_sample'] * info['numb_ft']), 4)
    
    temp = df.isnull().sum()
    temp_keys = list(temp.keys())
    temp_val = [temp[x] for x in temp_keys]
    temp_pc = [round(temp[x]/info['numb_sample'],4) for x in temp_keys]
    temp_nb_dict = {}
    temp_pc_dict = {}
    for idx, x in enumerate(temp_keys):
        temp_nb_dict[x] = temp_val[idx]
        temp_pc_dict[x] = temp_pc[idx]

    info['column_numb_missing'] = temp_nb_dict
    info['column_port_missing'] = temp_pc_dict

    # total cell = numb_sample * numb_ft
    return info

In [16]:
##### Get some basic information from data
info_application_train = basic_info(app_train)

In [17]:
info_application_train

{'numb_sample': 307511,
 'numb_ft': 148,
 'numb_row_missing': 299457,
 'port_row_missing': 0.9738,
 'numb_cell_missing': 9576753,
 'port_cell_missing': 0.2104,
 'column_numb_missing': {'SK_ID_CURR': 0,
  'TARGET': 0,
  'NAME_CONTRACT_TYPE': 0,
  'CODE_GENDER': 0,
  'FLAG_OWN_CAR': 0,
  'FLAG_OWN_REALTY': 0,
  'CNT_CHILDREN': 0,
  'AMT_INCOME_TOTAL': 0,
  'AMT_CREDIT': 0,
  'AMT_ANNUITY': 12,
  'AMT_GOODS_PRICE': 278,
  'NAME_TYPE_SUITE': 1292,
  'NAME_INCOME_TYPE': 0,
  'NAME_EDUCATION_TYPE': 0,
  'NAME_FAMILY_STATUS': 0,
  'NAME_HOUSING_TYPE': 0,
  'REGION_POPULATION_RELATIVE': 0,
  'DAYS_BIRTH': 0,
  'DAYS_EMPLOYED': 0,
  'DAYS_REGISTRATION': 0,
  'DAYS_ID_PUBLISH': 0,
  'OWN_CAR_AGE': 202929,
  'FLAG_MOBIL': 0,
  'FLAG_EMP_PHONE': 0,
  'FLAG_WORK_PHONE': 0,
  'FLAG_CONT_MOBILE': 0,
  'FLAG_PHONE': 0,
  'FLAG_EMAIL': 0,
  'OCCUPATION_TYPE': 96391,
  'CNT_FAM_MEMBERS': 2,
  'REGION_RATING_CLIENT': 0,
  'REGION_RATING_CLIENT_W_CITY': 0,
  'WEEKDAY_APPR_PROCESS_START': 0,
  'HOUR_APPR_PROCESS_START': 0,
  'REG_REGION_NOT_LIVE_REGION': 0,
  'REG_REGION_NOT_WORK_REGION': 0,
  'LIVE_REGION_NOT_WORK_REGION': 0,
  'REG_CITY_NOT_LIVE_CITY': 0,
  'REG_CITY_NOT_WORK_CITY': 0,
  'LIVE_CITY_NOT_WORK_CITY': 0,
  'ORGANIZATION_TYPE': 0,
  'EXT_SOURCE_1': 173378,
  'EXT_SOURCE_2': 660,
  'EXT_SOURCE_3': 60965,
  'APARTMENTS_AVG': 156061,
  'BASEMENTAREA_AVG': 179943,
  'YEARS_BEGINEXPLUATATION_AVG': 150007,
  'YEARS_BUILD_AVG': 204488,
  'COMMONAREA_AVG': 214865,
  'ELEVATORS_AVG': 163891,
  'ENTRANCES_AVG': 154828,
  'FLOORSMAX_AVG': 153020,
  'FLOORSMIN_AVG': 208642,
  'LANDAREA_AVG': 182590,
  'LIVINGAPARTMENTS_AVG': 210199,
  'LIVINGAREA_AVG': 154350,
  'NONLIVINGAPARTMENTS_AVG': 213514,
  'NONLIVINGAREA_AVG': 169682,
  'APARTMENTS_MODE': 156061,
  'BASEMENTAREA_MODE': 179943,
  'YEARS_BEGINEXPLUATATION_MODE': 150007,
  'YEARS_BUILD_MODE': 204488,
  'COMMONAREA_MODE': 214865,
  'ELEVATORS_MODE': 163891,
  'ENTRANCES_MODE': 154828,
  'FLOORSMAX_MODE': 153020,
  'FLOORSMIN_MODE': 208642,
  'LANDAREA_MODE': 182590,
  'LIVINGAPARTMENTS_MODE': 210199,
  'LIVINGAREA_MODE': 154350,
  'NONLIVINGAPARTMENTS_MODE': 213514,
  'NONLIVINGAREA_MODE': 169682,
  'APARTMENTS_MEDI': 156061,
  'BASEMENTAREA_MEDI': 179943,
  'YEARS_BEGINEXPLUATATION_MEDI': 150007,
  'YEARS_BUILD_MEDI': 204488,
  'COMMONAREA_MEDI': 214865,
  'ELEVATORS_MEDI': 163891,
  'ENTRANCES_MEDI': 154828,
  'FLOORSMAX_MEDI': 153020,
  'FLOORSMIN_MEDI': 208642,
  'LANDAREA_MEDI': 182590,
  'LIVINGAPARTMENTS_MEDI': 210199,
  'LIVINGAREA_MEDI': 154350,
  'NONLIVINGAPARTMENTS_MEDI': 213514,
  'NONLIVINGAREA_MEDI': 169682,
  'FONDKAPREMONT_MODE': 210295,
  'HOUSETYPE_MODE': 154297,
  'TOTALAREA_MODE': 148431,
  'WALLSMATERIAL_MODE': 156341,
  'EMERGENCYSTATE_MODE': 145755,
  'OBS_30_CNT_SOCIAL_CIRCLE': 1021,
  'DEF_30_CNT_SOCIAL_CIRCLE': 1021,
  'OBS_60_CNT_SOCIAL_CIRCLE': 1021,
  'DEF_60_CNT_SOCIAL_CIRCLE': 1021,
  'DAYS_LAST_PHONE_CHANGE': 1,
  'FLAG_DOCUMENT_2': 0,
  'FLAG_DOCUMENT_3': 0,
  'FLAG_DOCUMENT_4': 0,
  'FLAG_DOCUMENT_5': 0,
  'FLAG_DOCUMENT_6': 0,
  'FLAG_DOCUMENT_7': 0,
  'FLAG_DOCUMENT_8': 0,
  'FLAG_DOCUMENT_9': 0,
  'FLAG_DOCUMENT_10': 0,
  'FLAG_DOCUMENT_11': 0,
  'FLAG_DOCUMENT_12': 0,
  'FLAG_DOCUMENT_13': 0,
  'FLAG_DOCUMENT_14': 0,
  'FLAG_DOCUMENT_15': 0,
  'FLAG_DOCUMENT_16': 0,
  'FLAG_DOCUMENT_17': 0,
  'FLAG_DOCUMENT_18': 0,
  'FLAG_DOCUMENT_19': 0,
  'FLAG_DOCUMENT_20': 0,
  'FLAG_DOCUMENT_21': 0,
  'AMT_REQ_CREDIT_BUREAU_HOUR': 41519,
  'AMT_REQ_CREDIT_BUREAU_DAY': 41519,
  'AMT_REQ_CREDIT_BUREAU_WEEK': 41519,
  'AMT_REQ_CREDIT_BUREAU_MON': 41519,
  'AMT_REQ_CREDIT_BUREAU_QRT': 41519,
  'AMT_REQ_CREDIT_BUREAU_YEAR': 41519,
  'DIF_DAYS_INSTALMENT_mean': 15868,
  'DIF_DAYS_INSTALMENT_min': 15868,
  'DIF_DAYS_INSTALMENT_max': 15868,
  'DIF_DAYS_INSTALMENT_sum': 15868,
  'PORTION_NOT_INSTALMENT': 15868,
  'AVG_DIF_AMT_PAYMENT': 15868,
  'previous_NAME_CONTRACT_STATUS_Approved_count': 16454,
  'previous_NAME_CONTRACT_STATUS_Approved_count_norm': 16454,
  'previous_NAME_CONTRACT_STATUS_Canceled_count': 16454,
  'previous_NAME_CONTRACT_STATUS_Canceled_count_norm': 16454,
  'previous_NAME_CONTRACT_STATUS_Refused_count': 16454,
  'previous_NAME_CONTRACT_STATUS_Refused_count_norm': 16454,
  'previous_NAME_CONTRACT_STATUS_Unused offer_count': 16454,
  'previous_NAME_CONTRACT_STATUS_Unused offer_count_norm': 16454,
  'previous_NAME_CONTRACT_TYPE_Cash loans_count': 16454,
  'previous_NAME_CONTRACT_TYPE_Cash loans_count_norm': 16454,
  'previous_NAME_CONTRACT_TYPE_Consumer loans_count': 16454,
  'previous_NAME_CONTRACT_TYPE_Consumer loans_count_norm': 16454,
  'previous_NAME_CONTRACT_TYPE_Revolving loans_count': 16454,
  'previous_NAME_CONTRACT_TYPE_Revolving loans_count_norm': 16454,
  'previous_NAME_CONTRACT_TYPE_XNA_count': 16454,
  'previous_NAME_CONTRACT_TYPE_XNA_count_norm': 16454,
  'DIF_AMT_CREDIT_mean': 16454,
  'DIF_AMT_CREDIT_min': 16454,
  'DIF_AMT_CREDIT_max': 16454,
  'DIF_AMT_CREDIT_sum': 16454},
 'column_port_missing': {'SK_ID_CURR': 0.0,
  'TARGET': 0.0,
  'NAME_CONTRACT_TYPE': 0.0,
  'CODE_GENDER': 0.0,
  'FLAG_OWN_CAR': 0.0,
  'FLAG_OWN_REALTY': 0.0,
  'CNT_CHILDREN': 0.0,
  'AMT_INCOME_TOTAL': 0.0,
  'AMT_CREDIT': 0.0,
  'AMT_ANNUITY': 0.0,
  'AMT_GOODS_PRICE': 0.0009,
  'NAME_TYPE_SUITE': 0.0042,
  'NAME_INCOME_TYPE': 0.0,
  'NAME_EDUCATION_TYPE': 0.0,
  'NAME_FAMILY_STATUS': 0.0,
  'NAME_HOUSING_TYPE': 0.0,
  'REGION_POPULATION_RELATIVE': 0.0,
  'DAYS_BIRTH': 0.0,
  'DAYS_EMPLOYED': 0.0,
  'DAYS_REGISTRATION': 0.0,
  'DAYS_ID_PUBLISH': 0.0,
  'OWN_CAR_AGE': 0.6599,
  'FLAG_MOBIL': 0.0,
  'FLAG_EMP_PHONE': 0.0,
  'FLAG_WORK_PHONE': 0.0,
  'FLAG_CONT_MOBILE': 0.0,
  'FLAG_PHONE': 0.0,
  'FLAG_EMAIL': 0.0,
  'OCCUPATION_TYPE': 0.3135,
  'CNT_FAM_MEMBERS': 0.0,
  'REGION_RATING_CLIENT': 0.0,
  'REGION_RATING_CLIENT_W_CITY': 0.0,
  'WEEKDAY_APPR_PROCESS_START': 0.0,
  'HOUR_APPR_PROCESS_START': 0.0,
  'REG_REGION_NOT_LIVE_REGION': 0.0,
  'REG_REGION_NOT_WORK_REGION': 0.0,
  'LIVE_REGION_NOT_WORK_REGION': 0.0,
  'REG_CITY_NOT_LIVE_CITY': 0.0,
  'REG_CITY_NOT_WORK_CITY': 0.0,
  'LIVE_CITY_NOT_WORK_CITY': 0.0,
  'ORGANIZATION_TYPE': 0.0,
  'EXT_SOURCE_1': 0.5638,
  'EXT_SOURCE_2': 0.0021,
  'EXT_SOURCE_3': 0.1983,
  'APARTMENTS_AVG': 0.5075,
  'BASEMENTAREA_AVG': 0.5852,
  'YEARS_BEGINEXPLUATATION_AVG': 0.4878,
  'YEARS_BUILD_AVG': 0.665,
  'COMMONAREA_AVG': 0.6987,
  'ELEVATORS_AVG': 0.533,
  'ENTRANCES_AVG': 0.5035,
  'FLOORSMAX_AVG': 0.4976,
  'FLOORSMIN_AVG': 0.6785,
  'LANDAREA_AVG': 0.5938,
  'LIVINGAPARTMENTS_AVG': 0.6835,
  'LIVINGAREA_AVG': 0.5019,
  'NONLIVINGAPARTMENTS_AVG': 0.6943,
  'NONLIVINGAREA_AVG': 0.5518,
  'APARTMENTS_MODE': 0.5075,
  'BASEMENTAREA_MODE': 0.5852,
  'YEARS_BEGINEXPLUATATION_MODE': 0.4878,
  'YEARS_BUILD_MODE': 0.665,
  'COMMONAREA_MODE': 0.6987,
  'ELEVATORS_MODE': 0.533,
  'ENTRANCES_MODE': 0.5035,
  'FLOORSMAX_MODE': 0.4976,
  'FLOORSMIN_MODE': 0.6785,
  'LANDAREA_MODE': 0.5938,
  'LIVINGAPARTMENTS_MODE': 0.6835,
  'LIVINGAREA_MODE': 0.5019,
  'NONLIVINGAPARTMENTS_MODE': 0.6943,
  'NONLIVINGAREA_MODE': 0.5518,
  'APARTMENTS_MEDI': 0.5075,
  'BASEMENTAREA_MEDI': 0.5852,
  'YEARS_BEGINEXPLUATATION_MEDI': 0.4878,
  'YEARS_BUILD_MEDI': 0.665,
  'COMMONAREA_MEDI': 0.6987,
  'ELEVATORS_MEDI': 0.533,
  'ENTRANCES_MEDI': 0.5035,
  'FLOORSMAX_MEDI': 0.4976,
  'FLOORSMIN_MEDI': 0.6785,
  'LANDAREA_MEDI': 0.5938,
  'LIVINGAPARTMENTS_MEDI': 0.6835,
  'LIVINGAREA_MEDI': 0.5019,
  'NONLIVINGAPARTMENTS_MEDI': 0.6943,
  'NONLIVINGAREA_MEDI': 0.5518,
  'FONDKAPREMONT_MODE': 0.6839,
  'HOUSETYPE_MODE': 0.5018,
  'TOTALAREA_MODE': 0.4827,
  'WALLSMATERIAL_MODE': 0.5084,
  'EMERGENCYSTATE_MODE': 0.474,
  'OBS_30_CNT_SOCIAL_CIRCLE': 0.0033,
  'DEF_30_CNT_SOCIAL_CIRCLE': 0.0033,
  'OBS_60_CNT_SOCIAL_CIRCLE': 0.0033,
  'DEF_60_CNT_SOCIAL_CIRCLE': 0.0033,
  'DAYS_LAST_PHONE_CHANGE': 0.0,
  'FLAG_DOCUMENT_2': 0.0,
  'FLAG_DOCUMENT_3': 0.0,
  'FLAG_DOCUMENT_4': 0.0,
  'FLAG_DOCUMENT_5': 0.0,
  'FLAG_DOCUMENT_6': 0.0,
  'FLAG_DOCUMENT_7': 0.0,
  'FLAG_DOCUMENT_8': 0.0,
  'FLAG_DOCUMENT_9': 0.0,
  'FLAG_DOCUMENT_10': 0.0,
  'FLAG_DOCUMENT_11': 0.0,
  'FLAG_DOCUMENT_12': 0.0,
  'FLAG_DOCUMENT_13': 0.0,
  'FLAG_DOCUMENT_14': 0.0,
  'FLAG_DOCUMENT_15': 0.0,
  'FLAG_DOCUMENT_16': 0.0,
  'FLAG_DOCUMENT_17': 0.0,
  'FLAG_DOCUMENT_18': 0.0,
  'FLAG_DOCUMENT_19': 0.0,
  'FLAG_DOCUMENT_20': 0.0,
  'FLAG_DOCUMENT_21': 0.0,
  'AMT_REQ_CREDIT_BUREAU_HOUR': 0.135,
  'AMT_REQ_CREDIT_BUREAU_DAY': 0.135,
  'AMT_REQ_CREDIT_BUREAU_WEEK': 0.135,
  'AMT_REQ_CREDIT_BUREAU_MON': 0.135,
  'AMT_REQ_CREDIT_BUREAU_QRT': 0.135,
  'AMT_REQ_CREDIT_BUREAU_YEAR': 0.135,
  'DIF_DAYS_INSTALMENT_mean': 0.0516,
  'DIF_DAYS_INSTALMENT_min': 0.0516,
  'DIF_DAYS_INSTALMENT_max': 0.0516,
  'DIF_DAYS_INSTALMENT_sum': 0.0516,
  'PORTION_NOT_INSTALMENT': 0.0516,
  'AVG_DIF_AMT_PAYMENT': 0.0516,
  'previous_NAME_CONTRACT_STATUS_Approved_count': 0.0535,
  'previous_NAME_CONTRACT_STATUS_Approved_count_norm': 0.0535,
  'previous_NAME_CONTRACT_STATUS_Canceled_count': 0.0535,
  'previous_NAME_CONTRACT_STATUS_Canceled_count_norm': 0.0535,
  'previous_NAME_CONTRACT_STATUS_Refused_count': 0.0535,
  'previous_NAME_CONTRACT_STATUS_Refused_count_norm': 0.0535,
  'previous_NAME_CONTRACT_STATUS_Unused offer_count': 0.0535,
  'previous_NAME_CONTRACT_STATUS_Unused offer_count_norm': 0.0535,
  'previous_NAME_CONTRACT_TYPE_Cash loans_count': 0.0535,
  'previous_NAME_CONTRACT_TYPE_Cash loans_count_norm': 0.0535,
  'previous_NAME_CONTRACT_TYPE_Consumer loans_count': 0.0535,
  'previous_NAME_CONTRACT_TYPE_Consumer loans_count_norm': 0.0535,
  'previous_NAME_CONTRACT_TYPE_Revolving loans_count': 0.0535,
  'previous_NAME_CONTRACT_TYPE_Revolving loans_count_norm': 0.0535,
  'previous_NAME_CONTRACT_TYPE_XNA_count': 0.0535,
  'previous_NAME_CONTRACT_TYPE_XNA_count_norm': 0.0535,
  'DIF_AMT_CREDIT_mean': 0.0535,
  'DIF_AMT_CREDIT_min': 0.0535,
  'DIF_AMT_CREDIT_max': 0.0535,
  'DIF_AMT_CREDIT_sum': 0.0535}}

In [18]:
missing = info_application_train['column_port_missing']

In [19]:
missing['OWN_CAR_AGE']

0.6599

In [20]:
missing = info_application_train['column_port_missing']
missing_ft = []
missing_val_all = []
for key, val in missing.items():
    if val >= 0.4:
        missing_ft += [key]
    missing_val_all += [val]

In [21]:
len(missing_ft)

49

In [22]:
missing_cate = []
missing_nume = []
for ft in missing_ft:
    if ft in categorical_ft:
        missing_cate += [ft]
    else:
        missing_nume += [ft]

In [23]:
missing_cate

['FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE']

In [24]:
missing_nume

['OWN_CAR_AGE',
 'EXT_SOURCE_1',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'TOTALAREA_MODE']

In [16]:
##### Find the reason behind the missing 
#data = app_train.copy()
data = app_test.copy()
# OWN_CAR_AGE missing depend on FLAG_OWN_CAR --> fix it
data['FLAG_OWN_CAR'] = data['FLAG_OWN_CAR'].map({'Y': 1, 'N': 0})
data['FLAG_OWN_REALTY'] = data['FLAG_OWN_REALTY'].map({'Y': 1, 'N': 0})
data['OWN_CAR_AGE'] = data.apply(
    lambda row: 0 if np.isnan(row['OWN_CAR_AGE']) and row['FLAG_OWN_CAR'] == 0 else row['OWN_CAR_AGE'],
    axis=1
)

data['CODE_GENDER'] = data['CODE_GENDER'].map({'M': 1, 'F': 0})
data['NAME_CONTRACT_TYPE'] = data['NAME_CONTRACT_TYPE'].map({'Cash loans': 1, 'Revolving loans': 0})

In [17]:
# convert to positive
data['DAYS_BIRTH'] = abs(data['DAYS_BIRTH'])

data['DAYS_EMPLOYED'] = abs(data['DAYS_EMPLOYED'])

data['DAYS_ID_PUBLISH'] = abs(data['DAYS_ID_PUBLISH'])

data['DAYS_LAST_PHONE_CHANGE'] = abs(data['DAYS_LAST_PHONE_CHANGE'])

data['DAYS_REGISTRATION'] = abs(data['DAYS_REGISTRATION'])

data['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

In [12]:
## Drop ft
##### Get some basic information from data
info_data = basic_info(data)
missing = info_data['column_port_missing']
missing_ft = []
missing_val_all = []
for key, val in missing.items():
    if val >= 0.4:
        missing_ft += [key]
    missing_val_all += [val]

In [13]:
missing_ft

['EXT_SOURCE_1',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE']

In [18]:
data_drop = data.drop(missing_ft, axis=1)
data_drop.to_csv('data/filtered_merged_application_test.csv')