In [234]:
import os
os.chdir('/home/nmduy/CA683/Credit Project')
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import roc_auc_score 
from sklearn.metrics import auc
from sklearn import preprocessing
import pandas as pd
import numpy as np
import random
import json
from sklearn import metrics
random.seed(1509)

## Read data
Read filtered csv file (remove features containing too much missing values) and encode the categorical variables.

In [249]:
##### READ DATA #####
data = pd.read_csv('data/filtered_application_train.csv')
data_remove_id = data.drop(['SK_ID_CURR'], axis=1) if 'SK_ID_CURR' in list(data.columns) else data.copy()
data_remove_id = data_remove_id.drop(['DAYS_EMPLOYED_ANOM'], axis=1) if 'DAYS_EMPLOYED_ANOM' in list(data_remove_id.columns) else data_remove_id.copy()
data_remove_id = data_remove_id.drop(['Unnamed: 0'], axis=1) if 'Unnamed: 0' in list(data_remove_id.columns) else data_remove_id.copy()

In [236]:
ft_types = dict(data_remove_id.dtypes)

categorical_ft = []
numerical_ft = []
for ft, val in ft_types.items():
    if val == np.object:
        categorical_ft += [ft]
    else:
        numerical_ft += [ft]


select_ft = ['TARGET', 'EXT_SOURCE_3', 'EXT_SOURCE_2', 'DAYS_EMPLOYED', 'DAYS_ID_PUBLISH', 'FLOORSMAX_AVG', 
             'DAYS_REGISTRATION', 'AMT_GOODS_PRICE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'HOUR_APPR_PROCESS_START', 
             'AMT_REQ_CREDIT_BUREAU_YEAR', 'CNT_CHILDREN', 'AMT_REQ_CREDIT_BUREAU_MON']

drop_numerical_ft = [x for x in numerical_ft if x not in select_ft]
remain_numerical_ft = [x for x in numerical_ft if x not in drop_numerical_ft]
print((len(drop_numerical_ft), len(remain_numerical_ft)))
data_remove_id = data_remove_id.drop(drop_numerical_ft, axis=1)

(53, 12)

In [250]:
encoded_data = pd.get_dummies(data_remove_id)

print(encoded_data.shape)

##### DROP NA #####
encoded_data = encoded_data.dropna()
encoded_data = encoded_data.reset_index(drop=True)
print(encoded_data.shape)

(307511, 180)
(245140, 180)

In [24]:
np.sum(np.isfinite(encoded_data).sum()-190079)

-3

## MAKE THE DATASET
Create subset and maybe make it balance between classes within classes

In [251]:
##### MAKE IT BALANCE #####
random.seed(1509)

numb_pos_samples = encoded_data['TARGET'].sum()
numb_neg_samples = len(encoded_data) - numb_pos_samples
portion_pos_train = 0.8
portion_pos_val = 0.1
numb_pos_train = int(numb_pos_samples * portion_pos_train)
numb_pos_val = int(numb_pos_samples * portion_pos_val)
numb_pos_test = numb_pos_samples - numb_pos_train - numb_pos_val

index_pos = encoded_data.index[encoded_data['TARGET'] == 1].tolist()
index_neg = [i for i in range(len(encoded_data)) if i not in index_pos]

data_pos = encoded_data.iloc[np.asarray(index_pos), :]
data_neg = encoded_data.iloc[np.asarray(index_neg), :]

##### shuffle #####
data_pos = data_pos.sample(frac=1)
data_neg = data_neg.sample(frac=1)

data_pos_train = data_pos.iloc[0:numb_pos_train,:]
data_pos_val = data_pos.iloc[numb_pos_train:numb_pos_train + numb_pos_val, :]
data_pos_test = data_pos.iloc[numb_pos_train + numb_pos_val:, :]

data_neg_train = data_neg.iloc[0:int(numb_pos_train*11), :]
data_neg_val = data_neg.iloc[int(numb_pos_train*11):-numb_pos_test, :]
data_neg_test = data_neg.iloc[-numb_pos_test:, :]

data_train = pd.concat([data_pos_train, data_neg_train], ignore_index=True)
data_val = pd.concat([data_pos_val, data_neg_val], ignore_index=True)
data_not_test = pd.concat([data_train, data_val], ignore_index=True)
data_test = pd.concat([data_pos_test, data_neg_test], ignore_index=True)

print(f"Numb train/val/test samples: {len(data_train)} / {len(data_val)} / {len(data_test)}")

print(data_train.shape)

Numb train/val/test samples: 183072 / 58252 / 3816
(183072, 180)

## REMOVE FEATURE CONTAINING ONLY 1 VALUES

## FILTER CORRELATION MATRIX

In [128]:
corr_pd = abs(data_not_test.corr()['TARGET']).sort_values()
corr_pd = corr_pd[1:]

In [129]:
corr_pd.describe()

count    198.000000
mean       0.020818
std        0.073409
min        0.000021
25%        0.002392
50%        0.007945
75%        0.023065
max        1.000000
Name: TARGET, dtype: float64

In [130]:
corr_dict = dict(corr_pd)

In [131]:
thres = 0.002392
drop_ft = []
for k, v in corr_dict.items():
    if v <= thres:
        drop_ft += [k]
len(drop_ft)

50

In [132]:
data_train = data_train.drop(drop_ft, axis=1)
data_val = data_val.drop(drop_ft, axis=1)
data_test = data_test.drop(drop_ft, axis=1)
data_not_test = data_not_test.drop(drop_ft, axis=1)

## SPLIT DATASET

In [252]:
##### REMOVE 1-VALUE FT #####
remove_ft = []
for col in list(data_not_test.drop('TARGET', axis=1).columns):
    if data_not_test[col].sum() == 0 or data_not_test[col].sum() == len(data_not_test[col]):
        remove_ft += [col]

print(remove_ft)        
print(len(remove_ft))

data_train = data_train.drop(remove_ft, axis=1)
data_val = data_val.drop(remove_ft, axis=1)
data_test = data_test.drop(remove_ft, axis=1)
data_not_test = data_not_test.drop(remove_ft, axis=1)

['FLAG_MOBIL', 'FLAG_DOCUMENT_2', 'NAME_INCOME_TYPE_Maternity leave', 'NAME_FAMILY_STATUS_Unknown']
4

In [253]:
X_train = data_train.drop(['TARGET'], axis = 1)
X_test = data_test.drop(['TARGET'], axis = 1)
X_val = data_val.drop(['TARGET'], axis = 1)
y_train = data_train['TARGET']
y_test = data_test['TARGET']
y_val = data_val['TARGET']
X_not_test = data_not_test.drop(['TARGET'], axis = 1)
y_not_test = data_not_test['TARGET']
print(X_train.shape)

(183072, 175)

## TRAIN
Run classifier on both RandomForest and Logistic Regression

In [254]:
rf = RandomForestClassifier(class_weight='balanced')
lg = LogisticRegression(class_weight='balanced')

rf.fit(X_train, y_train)
lg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Evaluate

In [154]:
def calculate_metric(gtnp, pdnp, score=None):
    # input are numpy vector
    total_samples = len(gtnp)
    #print(f"Total sample: {total_samples}")
    total_correct = np.sum(gtnp == pdnp)
    accuracy = total_correct / total_samples
    gt_pos = np.where(gtnp == 1)[0]
    gt_neg = np.where(gtnp == 0)[0]
    TP = np.sum(pdnp[gt_pos])
    TN = np.sum(1 - pdnp[gt_neg])
    FP = np.sum(pdnp[gt_neg])
    FN = np.sum(1 - pdnp[gt_pos])
    if score is not None:
        AUC = roc_auc_score(gtnp, score)
        lr_precision, lr_recall, _ = precision_recall_curve(gtnp, score)
        AUC_PR = auc(lr_recall, lr_precision)
    else:
        AUC = roc_auc_score(gtnp, pdnp)
        ACU_PR = -1

    
    
    precision = TP / (TP+FP)
    recall = TP/(TP+FN)
    f1 = 2*precision*recall/(precision+recall)
    metrics = {}
    metrics['accuracy'] = str(accuracy)
    metrics['precision'] = str(precision)
    metrics['recall'] = str(recall)
    metrics['f1'] = str(f1)
    metrics['tp'] = str(int(TP))
    metrics['tn'] = str(int(TN))
    metrics['fp'] = str(int(FP))
    metrics['fn'] = str(int(FN))
    metrics['auc'] = str(AUC)
    metrics['auc_pr'] = str(AUC_PR)

    return metrics

### RF Evaluation

In [255]:
##### TRAIN PREDICTION #####
rf_train_predict = rf.predict(X_train)
rf_train_score = rf.predict_proba(X_train)[:,1] # score of higher label
rf_train_metric = calculate_metric(y_train, rf_train_predict, rf_train_score)

##### VALIDATE PREDICTION #####
rf_val_predict = rf.predict(X_val)
rf_val_score = rf.predict_proba(X_val)[:,1] # score of higher label
rf_val_metric = calculate_metric(y_val, rf_val_predict, rf_val_score)

##### TEST PREDICTION #####
rf_test_predict = rf.predict(X_test)
rf_test_score = rf.predict_proba(X_test)[:,1]
rf_test_metric = calculate_metric(y_test, rf_test_predict, rf_test_score)

### Logistic Regression Evaluation

In [256]:
##### TRAIN PREDICTION #####
lg_train_predict = lg.predict(X_train)
lg_train_score = lg.predict_proba(X_train)[:,1] # score of higher label
lg_train_metric = calculate_metric(y_train, lg_train_predict, lg_train_score)

##### VALIDATE PREDICTION #####
lg_val_predict = lg.predict(X_val)
lg_val_score = lg.predict_proba(X_val)[:,1] # score of higher label
lg_val_metric = calculate_metric(y_val, lg_val_predict, lg_val_score)

##### TEST PREDICTION #####
lg_test_predict = lg.predict(X_test)
lg_test_score = lg.predict_proba(X_test)[:,1]
lg_test_metric = calculate_metric(y_test, lg_test_predict, lg_test_score)

In [257]:
result = {}
result['info'] = 'filtered app, not remove corr, 175 ft, using all numeric, encoded, dropna, classweight balanced, negative:positive = 11:1'
result['RF'] = {}
result['LG'] = {}
result['RF']['train'] = rf_train_metric
result['RF']['val'] = rf_val_metric
result['RF']['test'] = rf_test_metric
result['LG']['train'] = lg_train_metric
result['LG']['val'] = lg_val_metric
result['LG']['test'] = lg_test_metric

In [240]:
result['LG']

{'train': {'accuracy': '0.6340987252088021',
  'precision': '0.1187440034888792',
  'recall': '0.5280428205724924',
  'f1': '0.19388743306368916',
  'tp': '6807',
  'tn': '91283',
  'fp': '50518',
  'fn': '6084',
  'auc': '0.6204540159972532',
  'auc_pr': '0.11833374852784538'},
 'val': {'accuracy': '0.6411093492522464',
  'precision': '0.07174887892376682',
  'recall': '0.5164494103041589',
  'f1': '0.1259937911713485',
  'tp': '832',
  'tn': '19788',
  'fp': '10764',
  'fn': '779',
  'auc': '0.6065156347700551',
  'auc_pr': '0.06822275309882335'},
 'test': {'accuracy': '0.5899503722084367',
  'precision': '0.600974930362117',
  'recall': '0.5353598014888338',
  'f1': '0.5662729658792651',
  'tp': '863',
  'tn': '1039',
  'fp': '573',
  'fn': '749',
  'auc': '0.6218428473791477',
  'auc_pr': '0.5943093298108586'}}

## TEST

In [258]:
filename = 'metric/result_03.json'
with open(filename, 'w') as f:
    json.dump(result, f)

In [205]:
print(encoded_data.shape)

(201103, 127)

In [206]:
encoded_data_test = encoded_data_test.drop(drop_numerical_ft, axis=1)
print(encoded_data_test.shape)

(48744, 124)

In [204]:
data_test = pd.read_csv('data/filtered_merged_application_test.csv')
SK_ID_CURR = data_test['SK_ID_CURR']
data_test = data_test.drop(['SK_ID_CURR'], axis=1) if 'SK_ID_CURR' in list(data_test.columns) else data_test.copy()
data_test = data_test.drop(['DAYS_EMPLOYED_ANOM'], axis=1) if 'DAYS_EMPLOYED_ANOM' in list(data_test.columns) else data_test.copy()
data_test = data_test.drop(['Unnamed: 0'], axis=1) if 'Unnamed: 0' in list(data_test.columns) else data_test.copy()
encoded_data_test = pd.get_dummies(data_test)

In [140]:
drop_ft_test = [x for x in list(encoded_data_test.columns) if x in drop_ft]
encoded_data_test = encoded_data_test.drop(drop_ft_test, axis=1)
print(encoded_data_test.shape)

(48744, 148)

In [208]:
encoded_data_test_fillna = encoded_data_test.fillna(encoded_data_test.mean())

In [214]:
data_test_score = rf.predict_proba(encoded_data_test_fillna)[:,1] # score of higher label

In [215]:
submit = pd.DataFrame({'SK_ID_CURR': SK_ID_CURR, 'TARGET': data_test_score})
submit.to_csv('data/submit_select_numerical_rf.csv', index=False)

In [165]:
submit.head()

   SK_ID_CURR  TARGET
0      100001    0.10
1      100005    0.12
2      100013    0.05
3      100028    0.02
4      100038    0.14

## Feature Importance RF

In [233]:
ft_importance = rf.feature_importances_
name_ft = np.asarray(list(X_train.columns))
index_sort = np.argsort(ft_importance)
name_ft[index_sort]

array(['FLAG_DOCUMENT_12', 'NAME_INCOME_TYPE_Pensioner',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_7',
       'ORGANIZATION_TYPE_Industry: type 8', 'NAME_INCOME_TYPE_Student',
       'FLAG_DOCUMENT_17', 'ORGANIZATION_TYPE_Religion',
       'FLAG_DOCUMENT_21', 'ORGANIZATION_TYPE_Trade: type 5',
       'ORGANIZATION_TYPE_Industry: type 6',
       'ORGANIZATION_TYPE_Industry: type 13', 'FLAG_DOCUMENT_15',
       'NAME_EDUCATION_TYPE_Academic degree', 'FLAG_EMP_PHONE',
       'ORGANIZATION_TYPE_Trade: type 4',
       'ORGANIZATION_TYPE_Industry: type 10', 'FLAG_DOCUMENT_20',
       'FLAG_CONT_MOBILE', 'FLAG_DOCUMENT_19',
       'NAME_TYPE_SUITE_Group of people', 'ORGANIZATION_TYPE_Cleaning',
       'ORGANIZATION_TYPE_Legal Services',
       'ORGANIZATION_TYPE_Transport: type 1', 'ORGANIZATION_TYPE_Culture',
       'OCCUPATION_TYPE_IT staff', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
       'ORGANIZATION_TYPE_Trade: type 6', 'FLAG_DOCUMENT_11',
       'ORGANIZATION_TYPE_Trade: type 1', 'OCCUPATION_TYPE_HR staff',
       'ORGANIZATION_TYPE_Insurance',
       'ORGANIZATION_TYPE_Industry: type 12',
       'ORGANIZATION_TYPE_Emergency',
       'ORGANIZATION_TYPE_Industry: type 2',
       'previous_NAME_CONTRACT_TYPE_XNA_count',
       'previous_NAME_CONTRACT_TYPE_XNA_count_norm',
       'ORGANIZATION_TYPE_Mobile', 'ORGANIZATION_TYPE_Industry: type 5',
       'NAME_TYPE_SUITE_Other_A', 'ORGANIZATION_TYPE_Advertising',
       'ORGANIZATION_TYPE_Hotel', 'ORGANIZATION_TYPE_Realtor',
       'ORGANIZATION_TYPE_Telecom', 'OCCUPATION_TYPE_Realty agents',
       'ORGANIZATION_TYPE_Electricity',
       'NAME_HOUSING_TYPE_Co-op apartment', 'FLAG_DOCUMENT_9',
       'ORGANIZATION_TYPE_University',
       'ORGANIZATION_TYPE_Industry: type 4', 'PORTION_NOT_INSTALMENT',
       'ORGANIZATION_TYPE_Trade: type 2', 'ORGANIZATION_TYPE_Services',
       'OCCUPATION_TYPE_Secretaries',
       'ORGANIZATION_TYPE_Industry: type 7', 'NAME_TYPE_SUITE_Other_B',
       'FLAG_DOCUMENT_18', 'ORGANIZATION_TYPE_Industry: type 1',
       'ORGANIZATION_TYPE_Security Ministries', 'FLAG_DOCUMENT_16',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'ORGANIZATION_TYPE_Bank',
       'OCCUPATION_TYPE_Waiters/barmen staff',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'FLAG_DOCUMENT_6',
       'ORGANIZATION_TYPE_Police', 'NAME_TYPE_SUITE_Children',
       'ORGANIZATION_TYPE_Transport: type 3', 'ORGANIZATION_TYPE_Postal',
       'NAME_HOUSING_TYPE_Office apartment', 'ORGANIZATION_TYPE_Military',
       'ORGANIZATION_TYPE_Transport: type 2', 'ORGANIZATION_TYPE_Housing',
       'ORGANIZATION_TYPE_Agriculture',
       'OCCUPATION_TYPE_Private service staff',
       'ORGANIZATION_TYPE_Restaurant',
       'NAME_EDUCATION_TYPE_Lower secondary',
       'ORGANIZATION_TYPE_Industry: type 11',
       'ORGANIZATION_TYPE_Industry: type 9', 'FLAG_DOCUMENT_5',
       'OCCUPATION_TYPE_Low-skill Laborers', 'ORGANIZATION_TYPE_Security',
       'REG_REGION_NOT_LIVE_REGION', 'ORGANIZATION_TYPE_Industry: type 3',
       'ORGANIZATION_TYPE_Trade: type 3',
       'OCCUPATION_TYPE_Cleaning staff',
       'NAME_HOUSING_TYPE_Rented apartment', 'NAME_FAMILY_STATUS_Widow',
       'ORGANIZATION_TYPE_Transport: type 4',
       'ORGANIZATION_TYPE_Business Entity Type 1',
       'OCCUPATION_TYPE_Cooking staff', 'ORGANIZATION_TYPE_Kindergarten',
       'OCCUPATION_TYPE_Medicine staff', 'OCCUPATION_TYPE_Security staff',
       'NAME_EDUCATION_TYPE_Incomplete higher',
       'NAME_TYPE_SUITE_Spouse, partner', 'ORGANIZATION_TYPE_School',
       'NAME_HOUSING_TYPE_Municipal apartment',
       'ORGANIZATION_TYPE_Construction',
       'ORGANIZATION_TYPE_Trade: type 7', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'LIVE_REGION_NOT_WORK_REGION', 'ORGANIZATION_TYPE_Medicine',
       'OCCUPATION_TYPE_Accountants', 'REG_REGION_NOT_WORK_REGION',
       'ORGANIZATION_TYPE_Government',
       'ORGANIZATION_TYPE_Business Entity Type 2',
       'OCCUPATION_TYPE_High skill tech staff',
       'NAME_HOUSING_TYPE_With parents',
       'WEEKDAY_APPR_PROCESS_START_SUNDAY', 'FLAG_DOCUMENT_8',
       'FLAG_EMAIL', 'NAME_FAMILY_STATUS_Separated',
       'ORGANIZATION_TYPE_Other', 'OCCUPATION_TYPE_Managers',
       'previous_NAME_CONTRACT_STATUS_Unused offer_count',
       'NAME_INCOME_TYPE_State servant', 'OCCUPATION_TYPE_Drivers',
       'REG_CITY_NOT_LIVE_CITY', 'NAME_FAMILY_STATUS_Civil marriage',
       'NAME_TYPE_SUITE_Family', 'NAME_CONTRACT_TYPE',
       'NAME_HOUSING_TYPE_House / apartment',
       'NAME_FAMILY_STATUS_Single / not married',
       'WEEKDAY_APPR_PROCESS_START_SATURDAY', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'OCCUPATION_TYPE_Core staff', 'OCCUPATION_TYPE_Sales staff',
       'NAME_TYPE_SUITE_Unaccompanied', 'ORGANIZATION_TYPE_Self-employed',
       'WEEKDAY_APPR_PROCESS_START_MONDAY',
       'WEEKDAY_APPR_PROCESS_START_THURSDAY',
       'WEEKDAY_APPR_PROCESS_START_WEDNESDAY',
       'WEEKDAY_APPR_PROCESS_START_TUESDAY',
       'NAME_INCOME_TYPE_Commercial associate',
       'WEEKDAY_APPR_PROCESS_START_FRIDAY', 'LIVE_CITY_NOT_WORK_CITY',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'REG_CITY_NOT_WORK_CITY',
       'FLAG_WORK_PHONE', 'ORGANIZATION_TYPE_Business Entity Type 3',
       'NAME_FAMILY_STATUS_Married', 'OCCUPATION_TYPE_Laborers',
       'FLAG_OWN_REALTY',
       'previous_NAME_CONTRACT_STATUS_Unused offer_count_norm',
       'NAME_INCOME_TYPE_Working', 'FLAG_PHONE', 'FLAG_OWN_CAR',
       'FLAG_DOCUMENT_3', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'CNT_CHILDREN',
       'NAME_EDUCATION_TYPE_Secondary / secondary special',
       'previous_NAME_CONTRACT_TYPE_Revolving loans_count', 'CODE_GENDER',
       'previous_NAME_CONTRACT_STATUS_Canceled_count',
       'NAME_EDUCATION_TYPE_Higher education',
       'previous_NAME_CONTRACT_STATUS_Refused_count', 'CNT_FAM_MEMBERS',
       'previous_NAME_CONTRACT_STATUS_Canceled_count_norm',
       'previous_NAME_CONTRACT_TYPE_Cash loans_count',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'previous_NAME_CONTRACT_TYPE_Revolving loans_count_norm',
       'previous_NAME_CONTRACT_TYPE_Consumer loans_count',
       'previous_NAME_CONTRACT_STATUS_Approved_count',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'OWN_CAR_AGE',
       'previous_NAME_CONTRACT_TYPE_Cash loans_count_norm',
       'previous_NAME_CONTRACT_STATUS_Refused_count_norm',
       'previous_NAME_CONTRACT_TYPE_Consumer loans_count_norm',
       'previous_NAME_CONTRACT_STATUS_Approved_count_norm',
       'HOUR_APPR_PROCESS_START', 'AMT_INCOME_TOTAL',
       'AVG_DIF_AMT_PAYMENT', 'DIF_AMT_CREDIT_max',
       'REGION_POPULATION_RELATIVE', 'DIF_DAYS_INSTALMENT_min',
       'AMT_GOODS_PRICE', 'DIF_DAYS_INSTALMENT_max',
       'DIF_AMT_CREDIT_mean', 'DIF_AMT_CREDIT_sum', 'DIF_AMT_CREDIT_min',
       'DIF_DAYS_INSTALMENT_mean', 'AMT_CREDIT', 'AMT_ANNUITY',
       'DIF_DAYS_INSTALMENT_sum', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
       'DAYS_LAST_PHONE_CHANGE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'EXT_SOURCE_2', 'EXT_SOURCE_3'], dtype='<U54')

## FIND PVALUES

In [170]:
import scipy.stats as stat

X = X_train
#### Get p-values for the fitted model ####
denom = (2.0*(1.0+np.cosh(lg.decision_function(X))))
denom = np.tile(denom,(X.shape[1],1)).T
F_ij = np.dot((X/denom).T,X) ## Fisher Information Matrix
Cramer_Rao = np.linalg.inv(F_ij) ## Inverse Information Matrix
sigma_estimates = np.sqrt(np.diagonal(Cramer_Rao))
z_scores = lg.coef_[0]/sigma_estimates # z-score for eaach model coefficient
p_values = [stat.norm.sf(abs(x))*2 for x in z_scores] ### two tailed test for p-values

In [174]:
index_sort = np.argsort(p_values)

In [179]:
pnp = np.asarray(p_values)
index_sort[0:8]

array([ 6,  8,  7, 67, 11, 84, 86, 12])

In [181]:
name_ft = np.asarray(list(X_train.columns))
name_ft[index_sort]

array(['AMT_CREDIT', 'AMT_GOODS_PRICE', 'AMT_ANNUITY',
       'AVG_DIF_AMT_PAYMENT', 'DAYS_EMPLOYED', 'DIF_AMT_CREDIT_mean',
       'DIF_AMT_CREDIT_max', 'DAYS_REGISTRATION', 'DIF_AMT_CREDIT_sum',
       'DAYS_BIRTH', 'DAYS_LAST_PHONE_CHANGE', 'DAYS_ID_PUBLISH',
       'AMT_INCOME_TOTAL', 'DIF_AMT_CREDIT_min',
       'DIF_DAYS_INSTALMENT_sum', 'DIF_DAYS_INSTALMENT_max',
       'DIF_DAYS_INSTALMENT_min', 'DIF_DAYS_INSTALMENT_mean',
       'OWN_CAR_AGE', 'HOUR_APPR_PROCESS_START',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'AMT_REQ_CREDIT_BUREAU_MON',
       'CODE_GENDER', 'REGION_RATING_CLIENT_W_CITY',
       'REGION_RATING_CLIENT', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'FLAG_WORK_PHONE', 'EXT_SOURCE_3',
       'OCCUPATION_TYPE_Laborers', 'EXT_SOURCE_2',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'REG_CITY_NOT_WORK_CITY',
       'FLAG_OWN_CAR', 'DEF_60_CNT_SOCIAL_CIRCLE', 'FLAG_DOCUMENT_3',
       'REG_CITY_NOT_LIVE_CITY', 'LIVE_CITY_NOT_WORK_CITY',
       'FLAG_OWN_REALTY', 'OCCUPATION_TYPE_Core staff',
       'NAME_CONTRACT_TYPE', 'FLAG_PHONE', 'OCCUPATION_TYPE_Sales staff',
       'OCCUPATION_TYPE_Drivers', 'OCCUPATION_TYPE_Managers',
       'OCCUPATION_TYPE_Accountants', 'NAME_TYPE_SUITE_Unaccompanied',
       'FLAG_EMAIL', 'OCCUPATION_TYPE_High skill tech staff',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'FLAG_CONT_MOBILE', 'FLAG_DOCUMENT_8',
       'OCCUPATION_TYPE_Cooking staff', 'OCCUPATION_TYPE_Medicine staff',
       'OCCUPATION_TYPE_Security staff',
       'OCCUPATION_TYPE_Low-skill Laborers', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'REG_REGION_NOT_WORK_REGION', 'FLAG_DOCUMENT_16',
       'NAME_TYPE_SUITE_Family', 'FLAG_EMP_PHONE', 'FLAG_DOCUMENT_18',
       'OCCUPATION_TYPE_Cleaning staff',
       'OCCUPATION_TYPE_Private service staff', 'FLAG_DOCUMENT_5',
       'REG_REGION_NOT_LIVE_REGION', 'FLAG_DOCUMENT_6',
       'AMT_REQ_CREDIT_BUREAU_DAY',
       'OCCUPATION_TYPE_Waiters/barmen staff',
       'LIVE_REGION_NOT_WORK_REGION', 'FLAG_DOCUMENT_13',
       'NAME_TYPE_SUITE_Children', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_14', 'OCCUPATION_TYPE_HR staff',
       'OCCUPATION_TYPE_Secretaries', 'FLAG_DOCUMENT_11',
       'OCCUPATION_TYPE_IT staff', 'NAME_TYPE_SUITE_Spouse, partner',
       'OCCUPATION_TYPE_Realty agents', 'FLAG_DOCUMENT_15',
       'NAME_TYPE_SUITE_Other_B', 'NAME_TYPE_SUITE_Other_A',
       'REGION_POPULATION_RELATIVE', 'FLAG_DOCUMENT_19',
       'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_17',
       'NAME_TYPE_SUITE_Group of people', 'FLAG_DOCUMENT_4',
       'FLAG_DOCUMENT_7', 'PORTION_NOT_INSTALMENT', 'FLAG_DOCUMENT_21',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_12', 'NAME_INCOME_TYPE_Working',
       'previous_NAME_CONTRACT_STATUS_Refused_count_norm',
       'NAME_HOUSING_TYPE_With parents',
       'ORGANIZATION_TYPE_Business Entity Type 3',
       'ORGANIZATION_TYPE_Self-employed',
       'NAME_HOUSING_TYPE_House / apartment',
       'previous_NAME_CONTRACT_TYPE_Cash loans_count_norm',
       'previous_NAME_CONTRACT_TYPE_Revolving loans_count_norm',
       'previous_NAME_CONTRACT_STATUS_Approved_count_norm',
       'NAME_HOUSING_TYPE_Rented apartment',
       'NAME_INCOME_TYPE_State servant',
       'NAME_INCOME_TYPE_Commercial associate',
       'previous_NAME_CONTRACT_STATUS_Canceled_count_norm',
       'ORGANIZATION_TYPE_Construction', 'ORGANIZATION_TYPE_School',
       'previous_NAME_CONTRACT_TYPE_Consumer loans_count_norm',
       'ORGANIZATION_TYPE_Medicine', 'ORGANIZATION_TYPE_Government',
       'ORGANIZATION_TYPE_Military', 'ORGANIZATION_TYPE_Industry: type 3',
       'ORGANIZATION_TYPE_Other', 'ORGANIZATION_TYPE_Police',
       'ORGANIZATION_TYPE_Transport: type 3',
       'ORGANIZATION_TYPE_Security Ministries', 'ORGANIZATION_TYPE_Bank',
       'ORGANIZATION_TYPE_Business Entity Type 2',
       'NAME_HOUSING_TYPE_Office apartment',
       'ORGANIZATION_TYPE_Trade: type 7',
       'ORGANIZATION_TYPE_Transport: type 4',
       'ORGANIZATION_TYPE_Kindergarten', 'ORGANIZATION_TYPE_Restaurant',
       'ORGANIZATION_TYPE_Trade: type 3', 'ORGANIZATION_TYPE_Security',
       'ORGANIZATION_TYPE_Industry: type 1',
       'ORGANIZATION_TYPE_University',
       'ORGANIZATION_TYPE_Industry: type 9',
       'ORGANIZATION_TYPE_Agriculture', 'ORGANIZATION_TYPE_Trade: type 6',
       'previous_NAME_CONTRACT_STATUS_Unused offer_count_norm',
       'ORGANIZATION_TYPE_Electricity',
       'ORGANIZATION_TYPE_Transport: type 2', 'ORGANIZATION_TYPE_Hotel',
       'ORGANIZATION_TYPE_Industry: type 11',
       'ORGANIZATION_TYPE_Industry: type 4',
       'ORGANIZATION_TYPE_Industry: type 12',
       'NAME_HOUSING_TYPE_Co-op apartment', 'ORGANIZATION_TYPE_Postal',
       'ORGANIZATION_TYPE_Industry: type 2', 'ORGANIZATION_TYPE_Realtor',
       'ORGANIZATION_TYPE_Services', 'ORGANIZATION_TYPE_Insurance',
       'ORGANIZATION_TYPE_Transport: type 1',
       'ORGANIZATION_TYPE_Industry: type 7', 'ORGANIZATION_TYPE_Culture',
       'ORGANIZATION_TYPE_Industry: type 5',
       'ORGANIZATION_TYPE_Business Entity Type 1',
       'ORGANIZATION_TYPE_Advertising', 'ORGANIZATION_TYPE_Mobile',
       'ORGANIZATION_TYPE_Emergency', 'ORGANIZATION_TYPE_Trade: type 1',
       'ORGANIZATION_TYPE_Telecom',
       'NAME_HOUSING_TYPE_Municipal apartment',
       'ORGANIZATION_TYPE_Trade: type 5',
       'ORGANIZATION_TYPE_Trade: type 4',
       'ORGANIZATION_TYPE_Trade: type 2', 'ORGANIZATION_TYPE_Religion',
       'previous_NAME_CONTRACT_TYPE_XNA_count_norm',
       'ORGANIZATION_TYPE_Legal Services', 'ORGANIZATION_TYPE_Cleaning',
       'ORGANIZATION_TYPE_Industry: type 10',
       'ORGANIZATION_TYPE_Industry: type 6', 'ORGANIZATION_TYPE_Housing',
       'ORGANIZATION_TYPE_Industry: type 13',
       'NAME_INCOME_TYPE_Pensioner', 'NAME_INCOME_TYPE_Student',
       'ORGANIZATION_TYPE_Industry: type 8', 'NAME_FAMILY_STATUS_Married',
       'CNT_CHILDREN', 'NAME_FAMILY_STATUS_Widow',
       'NAME_FAMILY_STATUS_Single / not married', 'CNT_FAM_MEMBERS',
       'NAME_FAMILY_STATUS_Separated',
       'NAME_EDUCATION_TYPE_Incomplete higher',
       'NAME_EDUCATION_TYPE_Secondary / secondary special',
       'previous_NAME_CONTRACT_STATUS_Approved_count',
       'WEEKDAY_APPR_PROCESS_START_WEDNESDAY',
       'NAME_EDUCATION_TYPE_Higher education',
       'WEEKDAY_APPR_PROCESS_START_FRIDAY',
       'previous_NAME_CONTRACT_STATUS_Canceled_count',
       'previous_NAME_CONTRACT_STATUS_Refused_count',
       'previous_NAME_CONTRACT_STATUS_Unused offer_count',
       'NAME_EDUCATION_TYPE_Academic degree',
       'previous_NAME_CONTRACT_TYPE_Cash loans_count',
       'NAME_FAMILY_STATUS_Civil marriage',
       'WEEKDAY_APPR_PROCESS_START_SATURDAY',
       'WEEKDAY_APPR_PROCESS_START_SUNDAY',
       'previous_NAME_CONTRACT_TYPE_Consumer loans_count',
       'previous_NAME_CONTRACT_TYPE_Revolving loans_count',
       'NAME_EDUCATION_TYPE_Lower secondary',
       'previous_NAME_CONTRACT_TYPE_XNA_count',
       'WEEKDAY_APPR_PROCESS_START_TUESDAY',
       'WEEKDAY_APPR_PROCESS_START_THURSDAY',
       'WEEKDAY_APPR_PROCESS_START_MONDAY'], dtype='<U54')

In [182]:
corr_dict

{'NAME_TYPE_SUITE_Group of people': 2.063628898692377e-05,
 'ORGANIZATION_TYPE_Religion': 4.796115032605099e-05,
 'NAME_FAMILY_STATUS_Separated': 5.2539516418956466e-05,
 'ORGANIZATION_TYPE_Industry: type 11': 0.00011261576799478748,
 'ORGANIZATION_TYPE_Business Entity Type 2': 0.00011339888206571532,
 'ORGANIZATION_TYPE_Mobile': 0.000133338115729271,
 'ORGANIZATION_TYPE_Industry: type 13': 0.00014279378774093075,
 'ORGANIZATION_TYPE_Industry: type 8': 0.00020001708938370376,
 'NAME_EDUCATION_TYPE_Incomplete higher': 0.0002026254647917751,
 'AMT_REQ_CREDIT_BUREAU_WEEK': 0.00020450652511080501,
 'FLAG_DOCUMENT_21': 0.00020660373445054636,
 'NAME_TYPE_SUITE_Spouse, partner': 0.00034637732009811087,
 'CNT_FAM_MEMBERS': 0.00038688907949504733,
 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY': 0.0005072280845577627,
 'WEEKDAY_APPR_PROCESS_START_FRIDAY': 0.0005150031094679311,
 'FLAG_DOCUMENT_20': 0.0005599435468385759,
 'ORGANIZATION_TYPE_Industry: type 7': 0.0005885529132414816,
 'ORGANIZATION_TYPE_Business Entity Type 1': 0.0006690616652838025,
 'FLAG_DOCUMENT_12': 0.0006710475995567881,
 'ORGANIZATION_TYPE_Postal': 0.000683968838513813,
 'FLAG_DOCUMENT_7': 0.0008090989067564563,
 'LIVE_REGION_NOT_WORK_REGION': 0.0009062227854462042,
 'ORGANIZATION_TYPE_Telecom': 0.0009486909553478509,
 'FLAG_DOCUMENT_5': 0.0009871937076449168,
 'OCCUPATION_TYPE_Realty agents': 0.001234700883569988,
 'ORGANIZATION_TYPE_Cleaning': 0.001255369809178021,
 'AMT_REQ_CREDIT_BUREAU_HOUR': 0.0012827431018547007,
 'OWN_CAR_AGE': 0.0013210659953880905,
 'AMT_INCOME_TOTAL': 0.0013423691602163638,
 'NAME_TYPE_SUITE_Other_B': 0.0013676365682664064,
 'ORGANIZATION_TYPE_Industry: type 10': 0.0013685629470166724,
 'previous_NAME_CONTRACT_STATUS_Unused offer_count_norm': 0.0014917279851477552,
 'FLAG_EMP_PHONE': 0.0014925919901629943,
 'previous_NAME_CONTRACT_STATUS_Unused offer_count': 0.0014945005699743231,
 'FLAG_DOCUMENT_10': 0.00150052410977076,
 'ORGANIZATION_TYPE_Transport: type 4': 0.001618859189001028,
 'ORGANIZATION_TYPE_Emergency': 0.0016613581938712781,
 'ORGANIZATION_TYPE_Trade: type 1': 0.0016663782497222152,
 'NAME_INCOME_TYPE_Pensioner': 0.0018980447855801207,
 'NAME_HOUSING_TYPE_Municipal apartment': 0.0019541971010827853,
 'ORGANIZATION_TYPE_Industry: type 5': 0.0019900613778090397,
 'NAME_HOUSING_TYPE_Co-op apartment': 0.0020191432853523565,
 'FLAG_DOCUMENT_19': 0.002105635874478402,
 'NAME_INCOME_TYPE_Student': 0.0021220899398436384,
 'ORGANIZATION_TYPE_Industry: type 2': 0.002220981329741706,
 'NAME_TYPE_SUITE_Children': 0.0022482613795466776,
 'ORGANIZATION_TYPE_Realtor': 0.0022959342877281633,
 'AMT_REQ_CREDIT_BUREAU_DAY': 0.0023579345498595016,
 'WEEKDAY_APPR_PROCESS_START_THURSDAY': 0.002358713998316641,
 'ORGANIZATION_TYPE_Trade: type 4': 0.0023711081661181607,
 'WEEKDAY_APPR_PROCESS_START_SUNDAY': 0.0024551618693782885,
 'FLAG_CONT_MOBILE': 0.002514493191754774,
 'FLAG_DOCUMENT_4': 0.002599053546218318,
 'ORGANIZATION_TYPE_Legal Services': 0.002606166731150975,
 'NAME_TYPE_SUITE_Other_A': 0.002844117893931898,
 'ORGANIZATION_TYPE_Hotel': 0.002889938127542124,
 'WEEKDAY_APPR_PROCESS_START_MONDAY': 0.003025843717487372,
 'WEEKDAY_APPR_PROCESS_START_SATURDAY': 0.0030633371130609067,
 'ORGANIZATION_TYPE_Industry: type 6': 0.003158005502654961,
 'ORGANIZATION_TYPE_Transport: type 2': 0.003265224124233184,
 'OCCUPATION_TYPE_IT staff': 0.003288997384285592,
 'ORGANIZATION_TYPE_Housing': 0.0033153455521245318,
 'FLAG_EMAIL': 0.0033707311333667066,
 'AMT_REQ_CREDIT_BUREAU_QRT': 0.003374280312073797,
 'OCCUPATION_TYPE_Cleaning staff': 0.003414074542503575,
 'DIF_DAYS_INSTALMENT_max': 0.003431923469495155,
 'ORGANIZATION_TYPE_Trade: type 7': 0.003498476260311832,
 'ORGANIZATION_TYPE_Services': 0.0036083520453914202,
 'ORGANIZATION_TYPE_Transport: type 1': 0.0036214220664213498,
 'WEEKDAY_APPR_PROCESS_START_TUESDAY': 0.003723491182743517,
 'ORGANIZATION_TYPE_Trade: type 2': 0.003810941605359792,
 'OCCUPATION_TYPE_Waiters/barmen staff': 0.003917639277478581,
 'ORGANIZATION_TYPE_Agriculture': 0.00393331651005514,
 'ORGANIZATION_TYPE_Trade: type 5': 0.003970332374998842,
 'REG_REGION_NOT_WORK_REGION': 0.003988772370307261,
 'ORGANIZATION_TYPE_Culture': 0.003997748687597147,
 'OCCUPATION_TYPE_Secretaries': 0.0040487171145597,
 'ORGANIZATION_TYPE_Electricity': 0.004058023925163072,
 'ORGANIZATION_TYPE_Insurance': 0.004500369868745951,
 'FLAG_DOCUMENT_17': 0.004551814393796228,
 'ORGANIZATION_TYPE_Security': 0.004558456022489095,
 'ORGANIZATION_TYPE_Industry: type 4': 0.004574390237332384,
 'ORGANIZATION_TYPE_Industry: type 12': 0.005179501378938744,
 'FLAG_OWN_REALTY': 0.005254658103326854,
 'NAME_EDUCATION_TYPE_Academic degree': 0.0052711275167691175,
 'FLAG_DOCUMENT_15': 0.005680906336963871,
 'REG_REGION_NOT_LIVE_REGION': 0.005707784856663387,
 'FLAG_DOCUMENT_9': 0.005852420542489137,
 'NAME_HOUSING_TYPE_Office apartment': 0.00640837273887582,
 'ORGANIZATION_TYPE_Trade: type 3': 0.006510738203114293,
 'OCCUPATION_TYPE_HR staff': 0.006537527946526096,
 'ORGANIZATION_TYPE_Industry: type 9': 0.006577134966115896,
 'DIF_DAYS_INSTALMENT_min': 0.00662173061421679,
 'OCCUPATION_TYPE_Private service staff': 0.006707000529022932,
 'ORGANIZATION_TYPE_Industry: type 1': 0.007639176358234193,
 'FLAG_DOCUMENT_14': 0.0077022439489512024,
 'CNT_CHILDREN': 0.0077245589866640745,
 'PORTION_NOT_INSTALMENT': 0.0077872919153844115,
 'ORGANIZATION_TYPE_Trade: type 6': 0.007823124252006076,
 'FLAG_DOCUMENT_11': 0.00806751607980047,
 'FLAG_DOCUMENT_6': 0.008118175504599331,
 'previous_NAME_CONTRACT_TYPE_XNA_count_norm': 0.008348183322944852,
 'ORGANIZATION_TYPE_Industry: type 3': 0.008623861434170491,
 'OCCUPATION_TYPE_Security staff': 0.008670545318774274,
 'ORGANIZATION_TYPE_Other': 0.008677435919024586,
 'NAME_TYPE_SUITE_Unaccompanied': 0.008819422079308761,
 'ORGANIZATION_TYPE_Kindergarten': 0.008828178449004145,
 'ORGANIZATION_TYPE_University': 0.009158016588463234,
 'OCCUPATION_TYPE_Cooking staff': 0.009595202255921257,
 'NAME_TYPE_SUITE_Family': 0.009609101921585778,
 'ORGANIZATION_TYPE_Restaurant': 0.009769231640830028,
 'FLAG_DOCUMENT_13': 0.009951435801107116,
 'FLAG_DOCUMENT_8': 0.010466698033955134,
 'OCCUPATION_TYPE_Medicine staff': 0.011228581899531838,
 'ORGANIZATION_TYPE_Security Ministries': 0.011297041037569636,
 'OBS_30_CNT_SOCIAL_CIRCLE': 0.011517574813906084,
 'OBS_60_CNT_SOCIAL_CIRCLE': 0.011521868080528297,
 'FLAG_DOCUMENT_18': 0.01171371852785332,
 'ORGANIZATION_TYPE_Bank': 0.01173436270419996,
 'DIF_AMT_CREDIT_max': 0.011758408379925872,
 'FLAG_DOCUMENT_16': 0.012460260946253647,
 'ORGANIZATION_TYPE_Government': 0.01258742848999871,
 'ORGANIZATION_TYPE_Police': 0.013494022568432733,
 'previous_NAME_CONTRACT_TYPE_XNA_count': 0.014071024605845596,
 'OCCUPATION_TYPE_Sales staff': 0.014325820762981074,
 'ORGANIZATION_TYPE_Military': 0.01442353436576022,
 'ORGANIZATION_TYPE_Medicine': 0.014590663037686047,
 'ORGANIZATION_TYPE_Business Entity Type 3': 0.015120594414760066,
 'NAME_FAMILY_STATUS_Widow': 0.01588926276334425,
 'AMT_REQ_CREDIT_BUREAU_MON': 0.01592804233864143,
 'DIF_DAYS_INSTALMENT_mean': 0.01672428232900217,
 'FLAG_WORK_PHONE': 0.016746351778018163,
 'ORGANIZATION_TYPE_Transport: type 3': 0.01685312509254467,
 'NAME_EDUCATION_TYPE_Lower secondary': 0.017018986210107414,
 'AMT_ANNUITY': 0.01730532976063187,
 'ORGANIZATION_TYPE_Construction': 0.017644828447131358,
 'OCCUPATION_TYPE_High skill tech staff': 0.017900781735844418,
 'DIF_AMT_CREDIT_mean': 0.018034162968199038,
 'previous_NAME_CONTRACT_STATUS_Canceled_count_norm': 0.019583101048285815,
 'NAME_FAMILY_STATUS_Civil marriage': 0.019718201623932573,
 'NAME_INCOME_TYPE_Commercial associate': 0.019744023089943778,
 'NAME_HOUSING_TYPE_Rented apartment': 0.019957525067721957,
 'DIF_AMT_CREDIT_min': 0.020717331117594745,
 'ORGANIZATION_TYPE_School': 0.02103662770471519,
 'ORGANIZATION_TYPE_Self-employed': 0.02115388085658823,
 'LIVE_CITY_NOT_WORK_CITY': 0.021585041278759678,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 0.02166812575887416,
 'FLAG_PHONE': 0.022732250689898807,
 'DIF_DAYS_INSTALMENT_sum': 0.02317603516981964,
 'NAME_FAMILY_STATUS_Single / not married': 0.023375546718847364,
 'HOUR_APPR_PROCESS_START': 0.024061225298063243,
 'OCCUPATION_TYPE_Managers': 0.02415524332330374,
 'NAME_FAMILY_STATUS_Married': 0.024317499121850227,
 'OCCUPATION_TYPE_Low-skill Laborers': 0.024514427093615294,
 'previous_NAME_CONTRACT_TYPE_Consumer loans_count': 0.02461632006528841,
 'OCCUPATION_TYPE_Accountants': 0.024972512999494892,
 'NAME_HOUSING_TYPE_House / apartment': 0.02523741702977095,
 'AVG_DIF_AMT_PAYMENT': 0.025611224731547744,
 'previous_NAME_CONTRACT_STATUS_Canceled_count': 0.02572137449136628,
 'NAME_HOUSING_TYPE_With parents': 0.026443546243667525,
 'OCCUPATION_TYPE_Drivers': 0.026825553465480614,
 'DEF_60_CNT_SOCIAL_CIRCLE': 0.02685219744306947,
 'previous_NAME_CONTRACT_STATUS_Approved_count': 0.02701206943294499,
 'FLAG_OWN_CAR': 0.027844506220064128,
 'previous_NAME_CONTRACT_TYPE_Cash loans_count_norm': 0.02818719096957552,
 'DIF_AMT_CREDIT_sum': 0.02845146716700856,
 'DEF_30_CNT_SOCIAL_CIRCLE': 0.029094183796775003,
 'OCCUPATION_TYPE_Core staff': 0.030162656736762015,
 'NAME_INCOME_TYPE_State servant': 0.030965790286102073,
 'NAME_CONTRACT_TYPE': 0.03313344087878478,
 'previous_NAME_CONTRACT_TYPE_Cash loans_count': 0.03381087162554921,
 'DAYS_REGISTRATION': 0.034423134431272887,
 'REGION_POPULATION_RELATIVE': 0.03510866867264959,
 'OCCUPATION_TYPE_Laborers': 0.03512925191619242,
 'AMT_CREDIT': 0.03570873194491791,
 'FLAG_DOCUMENT_3': 0.03602151605422503,
 'DAYS_ID_PUBLISH': 0.036065825216138256,
 'NAME_INCOME_TYPE_Working': 0.036929918844457114,
 'REG_CITY_NOT_WORK_CITY': 0.039730353267404504,
 'REG_CITY_NOT_LIVE_CITY': 0.039981491892488015,
 'previous_NAME_CONTRACT_TYPE_Revolving loans_count_norm': 0.04134556947180558,
 'AMT_GOODS_PRICE': 0.04534281144383831,
 'previous_NAME_CONTRACT_TYPE_Consumer loans_count_norm': 0.045912045027638265,
 'CODE_GENDER': 0.04594388333413806,
 'previous_NAME_CONTRACT_TYPE_Revolving loans_count': 0.047601687733207575,
 'NAME_EDUCATION_TYPE_Secondary / secondary special': 0.054273948230090775,
 'REGION_RATING_CLIENT': 0.057609565590453146,
 'DAYS_LAST_PHONE_CHANGE': 0.059100115398806455,
 'NAME_EDUCATION_TYPE_Higher education': 0.06014638572250687,
 'REGION_RATING_CLIENT_W_CITY': 0.06029610766816788,
 'DAYS_BIRTH': 0.06516868883663945,
 'previous_NAME_CONTRACT_STATUS_Refused_count': 0.06644809358383602,
 'previous_NAME_CONTRACT_STATUS_Approved_count_norm': 0.06864948372560394,
 'DAYS_EMPLOYED': 0.07267255697966848,
 'previous_NAME_CONTRACT_STATUS_Refused_count_norm': 0.07761896867715931,
 'EXT_SOURCE_2': 0.15748653513191152,
 'EXT_SOURCE_3': 0.17225630464018926,
 'TARGET': 1.0}

In [207]:
remove_ft_test = [x for x in list(encoded_data_test.columns) if x in remove_ft]
encoded_data_test = encoded_data_test.drop(remove_ft_test, axis=1)
print(encoded_data_test.shape)

(48744, 122)